{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var memos_url = "{{=URL('api', 'get_memos')}}";
    var add_memo_url = "{{=URL('api', 'add_memo', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">
    <div id="vue-div" class="display:none">
        <div class="button_bar">
            <button v-if="!is_adding_memo" class="btn"
                    v-on:click="add_memo_button()"
                    :disabled="!logged_in"
                    v-bind:class="{'disabled': !logged_in}">
                <i class="fa fa-plus"></i> Add memo
            </button>
            <button v-if="is_adding_memo" class="btn "
                    v-on:click="add_memo_button()">
                <i class="fa fa-times"></i> Cancel
            </button>
        </div>

        <div v-if="is_adding_memo" id="add_memo_div">
            <form action="#" v-on:submit.prevent="add_memo" class="form-horizontal" enctype="multipart/form-data" method="post">
                <div>
                    <textarea class="form-control string" id="no_table_content"
                              v-model="form_title"
                              placeholder="Title"
                              type="text" >
                    </textarea>
                    <span class="help-block"></span>
                </div>
            </form>
        </div>
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
        <div class="result_table">
            <div v-for="memo in memos">
              <p>Title: ${memo.title}</p>
            </div>
            <div v-if="has_more" class="show_more">
            <button class="btn btn-default rounded" v-on:click="get_more()">
              <i class="fa fa-ellipsis-h"></i>
              Load more
            </button>
          </div>
        </div>
    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
